* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(82, 82, 82);
    color: white;
}

.wrapper {
    width: 80%;
}

i,
svg {
    pointer-events: none;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.pad {
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    cursor: pointer;
}

.kick-pad {
    background: #C87072
}

.kick-pad.active {
    background: #b66667
}

.snare-pad {
    background: #E79C01
}

.snare-pad.active {
    background: #d89000
}

.hihat-pad {
    background: #792828
}

.hihat-pad.active {
    background: #682222
}

.pads {
    display: flex;
}

.track {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

h1 {
    width: 30%;
}

button,
select {
    padding: 10px;
    border: none;
    width: 3rem;
    background: #ddd;
    transition: .5s;
}

select {
    width: 30%;
}

button:hover {
    background: #aaa;
}


select:hover {
    background: #aaa;
}



@keyframes playTrack {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}


@media (max-width:1024px) {

    .pad {
        width: 2rem;
        height: 2rem;
        margin: 0.5rem;
    }


    .track {
        flex-direction: column;

    }

    h1 {
        font-size: 16px;
    }


    select {
        width: 50%;
    }

}